@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #16162e;
}
.Teams{
    display: flex;
}
.container {
    position: relative;
    padding-right: 60px;
}












                                                    /* Paddyrice */

.container .paddyrice {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}
.container .paddyrice:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d86464;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .paddyrice:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .paddyrice:after {
    content: "85%WR";
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 1.4em;
    font-weight: 700;
    font-style: italic;
    color: rgba(231, 228, 228, 0.556);

}

.container .paddyrice .imgBx {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .paddyrice:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
}

.container .paddyrice .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
}

.container .paddyrice .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .paddyrice:hover .contentBx {
    height: 210px;
}

.container .paddyrice .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .paddyrice .contentBx .size{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .paddyrice:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}


.container .paddyrice .contentBx .size h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .paddyrice .contentBx .size img {
    padding-right: 5px;
    cursor: pointer;
}
.container .paddyrice .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}
.container .paddyrice:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
}





                                                    /* LoveIVV */
.container .loveivv {
    position: relative;
    width: 320px;
    height: 450px;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
}
.container .loveivv:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #faa6ed;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .loveivv:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .loveivv:after {
    content: "76%WR";
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 1.4em;
    font-weight: 700;
    font-style: italic;
    color: rgba(231, 228, 228, 0.556);

}

.container .loveivv .imgBx {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .loveivv:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
}

.container .loveivv .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
}

.container .loveivv .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .loveivv:hover .contentBx {
    height: 210px;
}

.container .loveivv .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .loveivv .contentBx .size{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .loveivv:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}


.container .loveivv .contentBx .size h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .loveivv .contentBx .size img {
    padding-right: 5px;
    cursor: pointer;
}
.container .loveivv .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}
.container .loveivv:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
}

















