@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #16162e;
}

/* Aggiungiamo lo stile per la scrollbar */
.chat-messages {
  overflow-y: auto;
  scroll-behavior: smooth; /* Per un effetto di scorrimento fluido */
}



/* Limita l'altezza dell'area dei messaggi e aggiungi spazio per la barra di input */
.pr-4 {
  height: calc(100% - 120px); /* Spazio per la barra di input */
  overflow-y: auto; /* Aggiunge lo scroll verticale */
  padding-right: 1rem; /* Mantieni il padding per la leggibilità */
  padding-bottom: 80px; /* Spazio sufficiente per evitare la sovrapposizione */
  box-sizing: border-box; /* Assicura che il padding sia incluso nelle dimensioni */
}

/* Assicura che la barra di input rimanga fissata in basso */
form {
  position: relative; /* Posizione relativa per la barra di input */
  bottom: 0;
  width: 100%; /* Mantiene la barra di input a tutta larghezza */
  background-color: white; /* Sfondo per visibilità */
  z-index: 10; /* Assicura che rimanga sopra i messaggi */
  border-top: 1px solid #e5e7eb; /* Aggiungi un bordo superiore per separazione visiva */
  padding-top: 1px;
  padding-bottom: 1px;
}








