@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  padding-left: 5%; /* Compensa la larghezza della barra laterale */
  background: #16162e;
  color: white;
  
}
.pokemon-box input {
  font-size: 0.875rem; /* Riduce la dimensione del testo */
  padding: 0.4rem;     /* Aggiunge più spazio tra il testo e i bordi del box */
}

#team-container {
  color: rgb(249, 249, 249);
}
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-out forwards;
}
/* Gestisco la responsività dei box */
#team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* I box si adattano in base allo spazio disponibile */
  gap: 1.5rem;
  padding: 1.5rem;
  width: 95%; /* Occupa lo spazio a destra della barra laterale */
  margin: 0 auto; /* Centrato orizzontalmente */
}
/* Mantengo i box scalabili */
.pokemon-box {
  background-color: #2d3748; /* Colore scuro */
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Per evitare overflow in schermi piccoli */
input {
  width: 100%;
  padding: 0.4rem; /* Riduzione padding per distanziare meglio */
  margin-bottom: 0.75rem; /* Aggiungo margine per maggiore spazio tra i box */
  border-radius: 0.375rem;
  background-color: #4a5568;
  color: white;
  border: none;
  font-size: 0.875rem; /* Dimensione testo più piccola */
}
/* Aggiungo più spazio tra i box per le mosse */
.pokemon-box input[type="text"] {
  margin-bottom: 1rem; /* Più spazio per chiarezza tra i campi */
}
