@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
	background: #16162e;
  }
.soprapagina{
	margin-top: 5%;
    margin-right:22%;
    margin-left:25%;
	margin-bottom: 0.5%;
}
.pagina {
    max-width: 100%;
    margin-right:20%;
    margin-left:25%;
	background-color: #282857;
	padding-top:1%;
  }
.table-sortable {
	border-collapse: collapse;
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	margin-right:30%;
    margin-left:30%;
}
.table-sortable thead tr {

	color: #cdd1ed;
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
}

.table-sortable th,
.table-sortable td {
	padding: 12px 15px;
	color: #efeeee
}

.pagina .table-sortable tbody tr {
}

.pagina .table-sortable tbody tr:nth-of-type(odd) {
	background-color: #191937;	
}
.pagina .table-sortable tbody tr:last-of-type {
	border-bottom: 2px solid #295be3;
}
.pagina .table-sortable tbody tr.active-column {
	font-weight: bold;
	color:#009876;
}
.pagina .table-sortable th {
	cursor: pointer;
}

.pagina .table-sortable .th-sort-asc::after {
	/*content: "\25b4";*/
	
}

.pagina .table-sortable .th-sort-desc::after {
	/*content: "\25be";*/
	
}

.pagina .table-sortable .th-sort-asc::after,
.pagina .table-sortable .th-sort-desc::after {
	/*margin-left: 5px;*/
}

.pagina .table-sortable .th-sort-asc{
	border-top: 2px solid #295be3;
}
.pagina .table-sortable .th-sort-desc {
	/*background: #1f1f435a;*/
	border-bottom: 2px solid #295be3;
}