@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.logos{
	margin-left: 15px;
	margin-top: 4px;
	cursor: pointer;
}
header{
  background-color: #272727;
  height: 40px;
  font-size: 0.8em;
  display: flex;
  top: 0px;
  border-bottom: 1px solid #eee;
}
header a{
  margin:auto;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
header a:hover{
  color: #d7d8da;
  text-decoration: none; 
}
body{
  background: #16162e;
}
	
}
::selection{
  color: #fff;
  background: #201e2b;
}

.wrapper{
  max-width: 450px;
  margin: 50px auto;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.iconepic{
  text-align: center;
  cursor:default;
  height: 25px;
  width: 25px;
  margin-right: 3px;
}
.fle{
	display: flex;
}


.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}



.btn-toggle-nav{
	z-index: 1;
	width: 60px;
	height: 40px;
	margin-top: 0px;
	border-right: 1px solid #9e9d9d;
	cursor: pointer;
}
.btn-toggle-nav:hover{
	opacity: 0.8;
}

.btn-toggle-nav img{
	margin-top: 9px;
}


.dona{
  margin-top: 8px;
  padding: 13px;
}


.tier{
  margin-top: 8px;
  padding: 13px;
}

.unisci{
}

.unisci:hover{
	opacity:0.7;
}


.testo{
	display: inline-block;
}
h1{
	color: white;
	margin-left: 20px;
	display: inline-block;
}
p{
	color: white;
	font-size: 22px;
	display: inline-block;
	margin-left: 10px;
}
.pagina{
	max-width: 560px;
	margin: auto;
	margin-top: 2%;
}
.titolo{
	display: flex;
	padding: auto;
	width: 560px;
}
.sezioni{
	display: flex;
	margin-top: 20px;
	font-size: 15px;
	width: 500px;
}
.sezioni li{
	list-style: none;
	padding-bottom: 8px;
	text-decoration: none;
	
}
.sezioni li:hover{
	cursor: pointer;
	border-bottom: 3px solid #295be3;
}
a {
  text-decoration: none;
  color: white;
}
.selezionato{
	color: #295be3;
	border-bottom: 3px solid #295be3;
}











.moveset{
	margin-top: 45px;
	background-color: #282857;
	border-radius: 4px;
	padding: 20px;
	width: 500px;
}

h3{
	padding-left: 8px;
	color: white;
}
.flexxo{
	display: flex;
	padding-bottom: 5px;
	margin-left: 2px;
}
.flexxo h3{
	font-size: 14px;
}


.flexxo2{
	display: flex;
	margin-left: 22.2px;
}
.flexxo2 h3{
	font-size: 14px;

}
.flexxo2 h4{
	color: white;
}


.flexxo3{
	width:119px;
	display: flex;
    margin-left: 8px;
}


.flexxo4{
	width:119px;
	display: flex;
    margin-left: 8px;
}







.swiperprev,
.swipernext {
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiperprev:after,
.swipernext:after {
  font-family: swiper-icons;
  font-size: 20px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 0;
}
.swiperprev,
.swiper-rtl .swipernext {
  left: 10px;
  right: auto;
}
.swiperprev:after,
.swiper-rtl .swipernext:after {
  content: 'prev';
}
.swipernext,
.swiper-rtl .swiperprev {
  right: 10px;
  left: auto;
}
.swipernext:after,
.swiper-rtl .swiperprev:after {
  content: 'next';
}





.swiper2prev,
.swiper2next {
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper2prev:after,
.swiper2next:after {
  font-family: swiper-icons;
  font-size: 20px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 0;
}
.swiper2prev,
.swiper2-rtl .swiper2next {
  left: 10px;
  right: auto;
}
.swiper2prev:after,
.swiper2-rtl .swiper2next:after {
  content: 'prev';
}
.swiper2next,
.swiper2-rtl .swiper2prev {
  right: 10px;
  left: auto;
}
.swiper2next:after,
.swiper2-rtl .swiper2prev:after {
  content: 'next';
}